.intro-title {
    position: relative;
    text-align: center;
    z-index: 1;
}

.progress-left, .progress-made, .intro-title, h2 {
    font-family: 'Piedra', cursive;
    letter-spacing: 2px;
}
p, button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.game-area {
    width: 500px;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    /* height: 95vh; */
    margin: auto;
}
p {
    position: relative;
    font-size: 20px;
    text-align: center;
}

.success {
    background-color: lightgreen;
}
button {
    position: relative;
    margin: 5px auto;
    width: 100%;
    font-size: 15px;
    padding: 5px;
    border: solid 2px;
}
button:hover {
    border-color: rgb(26, 197, 197);
    border-radius: 5px;
    top: -1px;
    box-shadow: 1px 1px 1px rgb(65, 63, 63);
}

.death-method {
    background-color: lightcoral;
    color: white;
}

/*  Hud Start */
.hud {
    display: none;
    z-index: 1;
}

.stats {
    text-align: center;
}

h3 {
    display: inline;
    margin: 10px;
}

/* Progress Bar */
.progress {
    position: relative;
    display: block;
    z-index: 1;
    top: 10px;
}
.progress-left, .progress-made {
    position: relative;
    height: 40px;
    text-align: center;
    font-size: 30px;
}
.progress-left {
    top: 10px;
    width: 100%;
    background-color: gray;
    color: white;
}
.progress-made {
    top: -30px;
    width: 00%;
    background-color: rgba(144, 238, 144, .6);
}
/* Hud End */

@media only screen and (max-width: 500px) {
    .game-area, .page {
      width: 90%;
      margin: auto;
    }
    button {
        height: auto;
    }
  }